html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  overflow: hidden;
}

#renderCanvas {
  width: 100vw;
  height: 100vh;
}

#locator {
  width: 5vw;
  aspect-ratio: 1/1;
  background-color: cyan;
  opacity: 0.5;
  border-radius: 5vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
